{% extends 'base.html' %}
{% load static %}
{% block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Lorem ipsum dolor sit amet <span class="pull-right"><del>$99.00</del> $79.00</span></h1>
							
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-5">
										<img src="{% static 'images/product-1-720x480.jpg' %}" class="img-fluid" alt="">
									</div>

									<div class="col-md-7">
										<p> Quas qui, repellendus ullam, quam possimus ducimus earum!</p>

										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, iste neque, ut recusandae quibusdam perferendis qui modi aliquam quaerat molestiae.</p>

										<div class="row">
							                <div class="col-sm-4">
							                  	<label class="control-label">Extra 1</label>

							                  	<div class="form-group">
								                    <select>
								                      	<option value="0">Extra 1</option>
								                      	<option value="1">Extra 2</option>
								                      	<option value="2">Extra 3</option>
								                    </select>
							                  	</div>
							                </div>

							                <div class="col-sm-8">
							                  	<label class="control-label">Quantity</label>

							                  	<div class="row">
								                    <div class="col-sm-6">
								                      	<div class="form-group">
								                        	<input type="text" name="name" id="name">
								                      	</div>
								                    </div>

								                    <div class="col-sm-6">
							                      		<input type="submit" class="primary" value="Add to Cart">
								                    </div>
							                  	</div>
							                </div>
							            </div>
									</div>
								</div>
							</div>

							<br>
							<br>

							<div class="container-fluid">
								<h2 class="h2">Similar Products</h2>

								<!-- Products -->
								<section class="tiles">
									<article class="style1">
										<span class="image">
											<img src="{% static 'images/product-1-720x480.jpg' %}" alt="" />
										</span>
										<a href="productdetails">
											<h2>Lorem ipsum dolor sit amet, consectetur</h2>
											
											<p><del>$19.00</del> <strong>$19.00</strong></p>

											<p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in </p>
										</a>
									</article>

									<article class="style2">
										<span class="image">
											<img src="{% static 'images/product-2-720x480.jpg' %}" alt="" />
										</span>
										<a href="productdetails">
											<h2>Lorem ipsum dolor sit amet, consectetur</h2>
											
											<p><del>$19.00</del> <strong>$19.00</strong></p>

											<p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in </p>
										</a>
									</article>

									<article class="style3">
										<span class="image">
											<img src="{% static 'images/product-6-720x480.jpg' %}" alt="" />
										</span>
										<a href="productdetails">
											<h2>Lorem ipsum dolor sit amet, consectetur</h2>
											
											<p><del>$19.00</del> <strong>$19.00</strong></p>

											<p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in </p>
										</a>
									</article>
								</section>
							</div>
						</div>
					</div>
{% endblock %}
